@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  margin: 0;
  padding: 0;
  background-color: rgb(23, 23, 23);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #0b0b0b;
}